.App {
  text-align: center;
}

.App-logo {
  background-image: url('./iconSrc/logo-brasileirao-footer.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #112714;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
