.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  background-image: url('./iconSrc/logo-brasileirao-footer.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #0e4916;
  height: 5%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: rgb(197, 218, 156);
  height: 100%;
  overflow: hidden;
}

.display-main {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.scoreboard-comp {
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: white;
  gap: 2px;
}

.best-area, .score-area {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.score-title, .bestScore-title {
  background-color: blue;
  width: 100%;
  padding: 5px;
}

.score-value, .bestScore-value {
  background-color: black;
  padding: 5px;
}

.best-area {
  border-left: 10px solid yellow;
}

.score-area {
  border-left: 10px solid green;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.teams {
  border: 1px solid #0e4916;
  border-radius: 12px;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 15%;
  max-width: min-content;
  min-width: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.teams:hover {
  scale: 1.1;
}

.escudo {
  width: 100%;
}

.teams p {
  margin: 5px;
}

footer {
  background-color: black;
  color: white;
  padding: 5px;
}